/* FONDO GENERAL */
body {
    margin: 0;
    padding: 0;
    background: #2f2f2f; 
    font-family: Arial, Helvetica, sans-serif;
}

/* HEADER PROFESIONAL CON LOGO CENTRADO Y DEGRADADO */
.header {
    width: 100%;
    height: 180px;

    /* LOGO (arriba) + DEGRADADO (abajo) */
    background-image:
        url('imagenes/logo_transparent.png'),
        linear-gradient(to bottom, #292928, white);

    /* Cada capa tiene su configuración */
    background-repeat: no-repeat, no-repeat;
    background-position: center, center;
    background-size: 50%, 100% 100%; /* LOGO - DEGRADADO */

    border-bottom: 5px solid #d6bb1c;
    border-top: 5px solid #d6bb1c;
    box-shadow: 0px 0px 25px rgba(0,0,0,0.25);

    display: flex;
    justify-content: center;
    align-items: center;
}


/* CONTENIDO */
.main {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

/* TARJETA */
.estado-card {
    width: 350px;
    background: #4f4f4f;
    padding: 30px;
    border-radius: 18px;
    border: 2px solid #FFD700;
    box-shadow: 0px 0px 25px rgba(0,0,0,0.25);
    text-align: center;
}

/* TÍTULO */
.titulo-estado {
    color: #FFD700;
    font-size: 26px;
    margin-bottom: 20px;
    text-shadow: 0px 0px 10px rgba(255,215,0,0.9);
}

/* DETALLE */
.detalle {
    color: #fff;
    font-size: 16px;
    margin: 8px 0;
}

/* ESTADO DEL MES */
.estado-label {
    color: #fff;
    margin-top: 15px;
    font-weight: bold;
}

.estado-valor {
    font-size: 22px;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 15px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.4);
}

/* Colores dinámicos */
.al-dia {
    background: #0fae0f;
    color: #fff;
    border: 2px solid #00ff00;
}

.vencido {
    background: #c62828;
    color: #fff;
    border: 2px solid #ff4d4d;
}

.bloqueado {
    background: #333;
    color: #FFD700;
    border: 2px solid #FFD700;
}

/* BOTÓN PAGAR */
.btn-pagar {
    display: block;
    background: #FFD700;
    color: #000;
    padding: 14px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    margin-top: 20px;
    font-size: 18px;
    box-shadow: 0px 0px 12px rgba(255,215,0,0.8);
    transition: 0.2s;
}

.btn-pagar:hover {
    background: #fff;
    box-shadow: 0px 0px 15px rgba(255,255,255,0.8);
}

/* BOTÓN HISTORIAL */
.btn-historial {
    display: block;
    text-decoration: none;
    color: #FFD700;
    margin-top: 15px;
    font-weight: bold;
}

.btn-historial:hover {
    text-decoration: underline;
}

/* BARRA INFERIOR */
.bottom-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #1c1c1c;
    border-top: 3px solid #FFD700;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}

.item {
    text-align: center;
    font-size: 22px;
    color: #FFD700;
    text-decoration: none;
}

.item span {
    display: block;
    font-size: 12px;
    color: #fff;
}

.item:hover {
    text-shadow: 0px 0px 10px #FFD700;
}
