/* FONDO GENERAL */
body {
    margin: 0;
    padding: 0;
    background: #2f2f2f; 
    font-family: Arial, Helvetica, sans-serif;
}

/* HEADER PROFESIONAL CON LOGO CENTRADO Y DEGRADADO */
.header {
    width: 100%;
    height: 180px;

    /* LOGO (arriba) + DEGRADADO (abajo) */
    background-image:
        url('imagenes/logo_transparent.png'),
        linear-gradient(to bottom, #292928, white);

    /* Cada capa tiene su configuración */
    background-repeat: no-repeat, no-repeat;
    background-position: center, center;
    background-size: 50%, 100% 100%; /* LOGO - DEGRADADO */

    border-bottom: 5px solid #d6bb1c;
    border-top: 5px solid #d6bb1c;
    box-shadow: 0px 0px 25px rgba(0,0,0,0.25);

    display: flex;
    justify-content: center;
    align-items: center;
}

/* CONTENIDO */
.main {
    width: 100%;
    max-width: 480px;
    margin: 30px auto 100px auto;
    padding: 0 20px;
}

.titulo {
    text-align: center;
    color: #fff;
    font-size: 28px;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.4);
    margin-bottom: 25px;
    text-transform: uppercase;
}

/* MENÚ VERTICAL */
.menu {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

/* TARJETAS */
.card {
    background: #4f4f4f;
    color: #FFD700;
    border: 2px solid #FFD700;
    padding: 18px;
    border-radius: 12px;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    gap: 20px;
    align-items: center;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.25);
    text-decoration: none;
    transition: 0.2s;
}

.card span {
    font-size: 30px;
}

.card p {
    margin: 0;
}

.card:hover {
    background: #333;
    transform: scale(1.02);
    box-shadow: 0px 0px 20px rgba(255,215,0,0.5);
}

/* BARRA INFERIOR */
.bottom-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #1c1c1c;
    border-top: 3px solid #FFD700;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}

.item {
    text-align: center;
    font-size: 22px;
    color: #FFD700;
    text-decoration: none;
}

.item span {
    display: block;
    font-size: 12px;
    color: #fff;
}

.item:hover {
    text-shadow: 0px 0px 10px #FFD700;
}
