/* FONDO GENERAL */
body {
    margin: 0;
    padding: 0;
    background: #2f2f2f; 
    font-family: Arial, Helvetica, sans-serif;
}

/* HEADER PROFESIONAL CON LOGO CENTRADO Y DEGRADADO */
.header {
    width: 100%;
    height: 180px;

    /* LOGO (arriba) + DEGRADADO (abajo) */
    background-image:
        url('imagenes/logo_transparent.png'),
        linear-gradient(to bottom, #292928, white);

    /* Cada capa tiene su configuración */
    background-repeat: no-repeat, no-repeat;
    background-position: center, center;
    background-size: 50%, 100% 100%; /* LOGO - DEGRADADO */

    border-bottom: 5px solid #d6bb1c;
    border-top: 5px solid #d6bb1c;
    box-shadow: 0px 0px 25px rgba(0,0,0,0.25);

    display: flex;
    justify-content: center;
    align-items: center;
}
/* TITULO */
.titulo {
    text-align: center;
    color: #fff;
    font-size: 28px;
    margin-top: 25px;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.4);
    text-transform: uppercase;
}

/* LISTA DE NOVEDADES */
.novedades-lista {
    width: 90%;
    max-width: 450px;
    margin: 25px auto 120px auto;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

/* TARJETAS */
.novedad-card {
 width: 100%;                      /* ocupa todo el ancho disponible */
    max-width: 560px;                 /* ancho razonable de la tarjeta */
    margin: 0 auto 30px auto;         /* agrega 20px de separación abajo */
    background: rgba(255,255,255,.06);/* tarjeta translúcida */
    border: 1px solid rgba(255,255,255,.1); /* borde sutil */
    border-radius: var(--radius);     /* esquinas redondeadas */
    box-shadow: var(--sombra);        /* sombra suave */
    padding: 22px;                    /* espacio interno */
    text-align: center;               /* centra contenido */
}

.novedad-card h3 {
    margin: 0 0 10px 0;
    color: #EAB308;
    font-size: 20px;
}

.novedad-card p {
    margin: 6px 0;
    color: #e6e6e6;
}

/* BARRA INFERIOR */
.bottom-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #1c1c1c;
    border-top: 3px solid #FFD700;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 8px 0;
    z-index: 10;
}

.bottom-bar .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #FFD700;
    font-size: 20px;
}

.bottom-bar .item span {
    margin-top: 4px;
    font-size: 12px;
    color: #fff;
}

.bottom-bar .item:hover {
    text-shadow: 0px 0px 10px #FFD700;
}

