/* FONDO GENERAL */
body {
    margin: 0;
    padding: 0;
    background: #2f2f2f;
    font-family: Arial, Helvetica, sans-serif;
}
/* HEADER PROFESIONAL CON LOGO CENTRADO Y DEGRADADO */
.header {
    width: 100%;
    height: 180px;

    /* LOGO (arriba) + DEGRADADO (abajo) */
    background-image:
        url('imagenes/logo_transparent.png'),
        linear-gradient(to bottom, #292928, white);

    /* Cada capa tiene su configuración */
    background-repeat: no-repeat, no-repeat;
    background-position: center, center;
    background-size: 50%, 100% 100%; /* LOGO - DEGRADADO */

    border-bottom: 5px solid #d6bb1c;
    border-top: 5px solid #d6bb1c;
    box-shadow: 0px 0px 25px rgba(0,0,0,0.25);

    display: flex;
    justify-content: center;
    align-items: center;
}

/* CONTENIDO */
.main {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 20px;
}

/* FORM-CARD */
.form-card {
    width: 350px;
    background: #4f4f4f;
    padding: 30px;
    border-radius: 18px;
    border: 2px solid #FFD700;
    box-shadow: 0px 0px 25px rgba(0,0,0,0.25);
}

.titulo-registro {
    text-align: center;
    font-size: 26px;
    color: #FFD700;
    text-shadow: 0px 0px 10px rgba(255,215,0,0.9);
    margin-bottom: 25px;
}

/* LABELS */
label {
    color: #fff;
    font-weight: bold;
    display: block;
    margin-top: 12px;
}

/* INPUTS */
input {
    width: 100%;
    padding: 12px;
    margin-top: 6px;
    border-radius: 10px;
    border: 2px solid #FFD700;
    background: #111;
    color: #FFD700;
    font-size: 16px;
    box-shadow: inset 0px 0px 8px rgba(255,215,0,0.2);
    box-sizing: border-box;
}

/* BOTÓN */
.btn-registrar {
    display: block;
    background: #FFD700;
    color: #000;
    padding: 14px;
    text-align: center;
    border-radius: 10px;
    margin-top: 25px;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    box-shadow: 0px 0px 12px rgba(255,215,0,0.8);
    transition: 0.2s;
}

.btn-registrar:hover {
    background: #fff;
    box-shadow: 0px 0px 15px rgba(255,255,255,0.8);
}

/* VOLVER LINK */
.volver {
    text-align: center;
    margin-top: 20px;
    color: #fff;
}

.volver a {
    color: #FFD700;
    font-weight: bold;
    text-decoration: none;
}

.volver a:hover {
    text-decoration: underline;
}
