/* FONDO GENERAL */
body {
    margin: 0;
    padding: 0;
    background: #2f2f2f; 
    font-family: Arial, Helvetica, sans-serif;
}

/* HEADER PROFESIONAL CON LOGO CENTRADO Y DEGRADADO */
.header {
    width: 100%;
    height: 180px;

    /* LOGO (arriba) + DEGRADADO (abajo) */
    background-image:
        url('imagenes/logo_transparent.png'),
        linear-gradient(to bottom, #292928, white);

    /* Cada capa tiene su configuración */
    background-repeat: no-repeat, no-repeat;
    background-position: center, center;
    background-size: 50%, 100% 100%; /* LOGO - DEGRADADO */

    border-bottom: 5px solid #d6bb1c;
    border-top: 5px solid #d6bb1c;
    box-shadow: 0px 0px 25px rgba(0,0,0,0.25);

    display: flex;
    justify-content: center;
    align-items: center;
}

/* TITULO */
.titulo {
    text-align: center;
    color: #fff;
    font-size: 28px;
    margin-top: 25px;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.4);
    text-transform: uppercase;
    
}

/* LISTA DE RUTINA */
.rutina-lista {
    width: 90%;
    max-width: 450px;
    margin: 25px auto 120px auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* TARJETAS DE RUTINA */
.rutina-card {
    background: #4f4f4f;
    border: 2px solid #FFD700;
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.25);
    color: white;
}

.rutina-card h3 {
    margin: 0 0 12px 0;
    color: #FFD700;
    font-size: 22px;
}

.rutina-card p {
    margin: 6px 0;
}

/* Observaciones */
.obs {
    margin-top: 10px;
    color: #FFD700;
}

/* BOTÓN RUTINA COMPLETA */
.btn-completa {
    display: block;
    width: 90%;
    max-width: 450px;
    margin: 10px auto;
    background: #FFD700;
    color: black;
    padding: 14px;
    text-align: center;
    border-radius: 12px;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 0px 0px 12px rgba(255,215,0,0.8);
}

.btn-completa:hover {
    background: #fff;
}

/* BARRA INFERIOR */
.bottom-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #1c1c1c;
    border-top: 3px solid #FFD700;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}

.item {
    text-align: center;
    font-size: 22px;
    color: #FFD700;
    text-decoration: none;
}

.item span {
    display: block;
    font-size: 12px;
    color: #fff;
}

.item:hover {
    text-shadow: 0px 0px 10px #FFD700;
}
